python-dotenv
fastapi
opencv-python
tensorflow
numpy
pillow
google-generativeai
python-multipart
joblib
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
motor
pydantic[email]
cloudinary
